#pageCopy ol.cheatSheet { padding-left: 30px; }
#pageCopy.noResources ul { padding-left: 8px; }
#nutter a { width: 300px; text-align: right; }
table.calendar { margin-top: 0 !important; }
#subnav.eventCalendar h3 { margin-bottom: 0; }